.gameText {
  margin: 6rem auto;
  display: flex;
  justify-content: center;
  font-family: 'Finger Paint', cursive;
  font-size: 40px;
  color:#0026ED;
}

.bla {
  position: absolute;
  width: 25%;
  height: 50%;
  padding: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;

}

.bla div {
  background-color: white;
  font-size: 3rem;
  border-radius: 15px;
  border: 10px solid black;
  display: grid;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  
}

.bla div:hover {
  background-color: gray;
}

.noSelect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.noSelect:focus {
  outline: none !important;
}

#wnnr {
    padding-left: 25px;
    color: rgb(255, 0, 0);
  }

@media (max-width: 700px) {
  .bla {
    width: 70%;
    height: 60%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding:8rem;
  }
  #wnnr {
    padding-left: 25px;
    color: rgb(255, 0, 0);
  }
}